<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Budjet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dash">Dashbord</a>
        </li>
       
        
      </ul>
      <form class="d-flex" role="search">
        <div class="all2">
          <div class="d-flex align-items-center">
            <img src="../../assets/a2.jpg" alt="" style="width: 45px; height: 45px"class="rounded-circle">
           <div class="row">
            <p class="fw-bold mb-0">Catherine</p>
            <p class="text-muted mb-0">+91 123456789</p> 
          </div>
          </div>
          </div>
          <div class="wrapper">

            <a routerLink="#">Log Out</a>
            
          </div>
      </form>
    </div>
  </div>
</nav>


<div class="container-fluid">
<div class="all">
<h3>Dashboard</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
<div class="all1">
<div class="d-flex align-items-center">
  <img src="../../assets/a.png" alt="" style="width: 35px; height: 35px"
  class="rounded-circle">
  <P>You Have 32 support Request Pending For Response   <a routerLink="#">view</a></P>
</div>
</div>
</div>
<div class="cards">
    

    <div class="card card-1" style="width: 15rem;">
        <div class="card-body">
         
          <h6 class="card-subtitle mb-2 ">Total Users</h6>
           <h1 class="card-title">1,567</h1>
          <p class="card-text"><span class="mx-2">  2.36% | </span> since last month</p>
         
        </div>
      </div>
      <div class="card card-2" style="width: 15rem;">
        <div class="card-body">
         
          <h6 class="card-subtitle mb-2 ">Saving Account</h6>
           <h1 class="card-title">1,500</h1>
          <p class="card-text"><span class="mx-2">  2.36% | </span>since last month</p>
         
        </div>
      </div>
      <div class="card card-1" style="width: 15rem;">
        <div class="card-body">
         
          <h6 class="card-subtitle mb-2 ">Saving Account</h6>
           <h1 class="card-title">1,500</h1>
          <p class="card-text"><span class="mx-2">  2.36% | </span>since last month</p>
         
        </div>
      </div>
      <div class="card card-2" style="width: 15rem;">
        <div class="card-body">
         
          <h6 class="card-subtitle mb-2 ">Saving Account</h6>
           <h1 class="card-title">1,500</h1>
          <p class="card-text"><span class="mx-2">  2.36% | </span>since last month</p>
         
        </div>
      </div>
 </div>
<div>
    <h5>Recently Active Users</h5>
    <div class="table-responsive col-lg-11 container-fluid">
    <table class="table table-hover">
        <thead >
          <tr class="table-secondary">
            <th scope="col">User Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Transaction Chatagory</th>
            <th scope="col">Transcation Amount</th>
            <th scope="col">Account Type</th>
            <th scope="col">Balance Amount</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
                <th scope="row">
                  <p class="fw-bold mb-1">Monica James</p>
               
                  <p class="text-muted mb-0"> ID 123456789</p> 
                </th>
               
            
           
            <td>+91 9876543210</td>
            <td><p class="fw-bold mb-1">Income</p>
               
              <p class="text-muted mb-0">Salary</p> </td>
            <td>$200</td>
            <td>savings</td>
            <td>$6000</td>
            <td></td>
            <td class="vi"><a routerLink="#">view</a> </td>
          </tr>
          <tr>
            <th scope="row">
              <p class="fw-bold mb-1">Samatha</p>
           
              <p class="text-muted mb-0"> ID 123456789</p> 
            </th>
           
        
       
        <td>+91 9876543210</td>
        <td><p class="fw-bold mb-1">Income</p>
           
          <p class="text-muted mb-0">Salary</p> </td>
        <td>$200</td>
        <td>savings</td>
        <td>$6000</td>
        <td></td>
        <td class="vi"><a routerLink="#">view</a> </td>
          </tr>
          <tr>
            <th scope="row">
              <p class="fw-bold mb-1">Catherine</p>
           
              <p class="text-muted mb-0"> ID 123456789</p> 
            </th>
           
        
       
        <td>+91 9876543210</td>
        <td><p class="fw-bold mb-1">Income</p>
           
          <p class="text-muted mb-0">Salary</p> </td>
        <td>$200</td>
        <td>savings</td>
        <td>$6000</td>
        <td></td>
        <td class="vi"><a routerLink="#">view</a> </td>
          </tr>
          <tr>
            <th scope="row">
              <p class="fw-bold mb-1">Monica James</p>
           
              <p class="text-muted mb-0"> ID 123456789</p> 
            </th>
           
        
       
        <td>+91 9876543210</td>
        <td><p class="fw-bold mb-1">Income</p>
           
          <p class="text-muted mb-0">Salary</p> </td>
        <td>$200</td>
        <td>savings</td>
        <td>$6000</td>
        <td></td>
        <td class="vi"><a routerLink="#">view</a> </td>
          </tr>
          <tr>
            <th scope="row">
              <p class="fw-bold mb-1">Ilena Sam</p>
           
              <p class="text-muted mb-0"> ID 123456789</p> 
            </th>
           
        
       
        <td>+91 9876543210</td>
        <td><p class="fw-bold mb-1">Income</p>
           
          <p class="text-muted mb-0">Salary</p> </td>
        <td>$200</td>
        <td>savings</td>
        <td>$6000</td>
        <td></td>
        <td class="vi"><a routerLink="#">view</a> </td>
          </tr>
         
          <div class="container-fluid ">
           
            <button type="button" [style.width.px]=130>View All</button>
          
         </div>
         
   
        </tbody>
      </table>
      
       
        
       
    

    </div>
</div>
</div>